<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mari_Downloads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mari_Downloads.Properties.Settings>
            <setting name="MainFont" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="MainBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowNotifs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimultaneousDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YTOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="YTResolution" serializeAs="String">
                <value>best</value>
            </setting>
            <setting name="YTFormat" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="YTExtractAu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YTAuFormat" serializeAs="String">
                <value>mp3</value>
            </setting>
            <setting name="ColorSleepingBack" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="ColorSleepingFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorQueuedBack" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorQueuedFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorDownloadingBack" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ColorDownloadingFore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorDoneBack" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorDoneFore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorErrorBack" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorErrorFore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EraseDone" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Uigora" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="YTRetries" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="YTSleep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YTCookies" serializeAs="String">
                <value />
            </setting>
            <setting name="Cookies" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="YTExtraArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="Range" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpeg" serializeAs="String">
                <value />
            </setting>
            <setting name="YTRemoteComponents" serializeAs="String">
                <value>ejs:github</value>
            </setting>
            <setting name="Playlist" serializeAs="String">
                <value />
            </setting>
            <setting name="YTConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportSleeping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportQueued" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportDownloading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearSleeping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearQueued" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearDownloading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetryDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RetryErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiscNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinorErrorNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DependencyNotifications" serializeAs="String">
                <value>True</value>
            </setting>
        </Mari_Downloads.Properties.Settings>
    </userSettings>
</configuration>