<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mari_Downloads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mari_Downloads.Properties.Settings>
            <setting name="MainFont" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="MainBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowNotifs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimultaneousDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YTOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="YTResolution" serializeAs="String">
                <value>best</value>
            </setting>
            <setting name="YTFormat" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="YTExtractAu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YTAuFormat" serializeAs="String">
                <value>mp3</value>
            </setting>
        </Mari_Downloads.Properties.Settings>
    </userSettings>
</configuration>